<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kapusta - Serwer działa poprawnie</title>
  </head>
  <body>
    <h1>Serwer Kapusta działa poprawnie</h1>
    <p>Liczba odwiedzin: <%= visitorCount %></p>
  </body>
</html>
